<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="/normal/user_base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>User Dashboard</title>
    <link rel="stylesheet" href="#" th:href="@{/css/style.css}" />
  </head>
  <body>
    <section>
      <div class="dashboard-widg-bar d-block">
        <div class="row">
          <div
            class="col-xl-3 col-lg-3 col-md-4 col-sm-12 order-xl-last order-lg-last order-md-last"
          ></div>
          <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
            <form
              class="submit-form"
              th:action="@{/user/edit-contact-process}"
              method="post"
            >
              <div class="dashboard-list-wraps bg-white rounded mb-4">
                <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                  <div class="dashboard-list-wraps-flx">
                    <h4 class="mb-0 ft-medium fs-md">Edit Contact</h4>
                  </div>
                </div>

                <div class="dashboard-list-wraps-body py-3 px-3">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label class="mb-1">Name</label>
                        <input
                          type="text"
                          class="form-control rounded"
                          th:value="${contact.conName}"
                          name="conName"
                        />
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label class="mb-1">Nickname</label>
                        <input
                          type="text"
                          class="form-control rounded"
                          th:value="${contact.conNickname}"
                          name="conNickname"
                        />
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label class="mb-1">Email ID</label>
                        <input
                          type="text"
                          class="form-control rounded"
                          th:value="${contact.conEmail}"
                          name="conEmail"
                        />
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label class="mb-1">Mobile</label>
                        <input
                          type="text"
                          class="form-control rounded"
                          th:value="${contact.conPhone}"
                          name="conPhone"
                        />
                      </div>
                    </div>

                    <div class="col-xl-11 col-lg-11 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label class="mb-1">Work</label>
                        <input
                          type="text"
                          class="form-control rounded"
                          th:value="${contact.conWork}"
                          name="conWork"
                        />
                      </div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label class="mb-1"></label>
                        <input
                          type="text"
                          class="form-control rounded"
                          th:value="${contact.conId}"
                          name="conId"
                          disabled
                          hidden
                        />
                      </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label class="mb-1">About Notes</label>
                        <textarea
                          class="form-control rounded ht-150"
                          placeholder="Describe your self"
                          name="conDescription"
                        ></textarea>
                      </div>
                    </div>
                    <button type="submit">
                      Save
                      <div class="arrow-wrapper"></div>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
