<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base :: layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="my-card" id="my-card-body">
              <h1 class="text-center">Reset your password</h1>
              <form th:action="@{/password-reset-processing}" method="post">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                  />
                </div>
                <div class="form-group">
                  <label for="cpassword">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="cpassword"
                    name="cpassword"
                  />
                </div>
                <button type="submit">
                  Submit
                  <div class="arrow-wrapper">
                    <div class="arrow"></div>
                  </div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
