<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base :: layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="my-card" id="my-card-body">
              <h1 class="text-center">Sign up</h1>
              <div
                th:if="${session.message}"
                th:classappend="${session.message.type}"
                class="alert alert-dismissable fade show"
                role="alert"
              >
                <p th:text="${session.message.content}"></p>
                <th:block
                  th:text="${@sessionHelper.messageRemoveHelper()}"
                ></th:block>
              </div>

              <form
                th:action="@{/do_register}"
                method="post"
                th:object="${user}"
              >
                <div class="form-group">
                  <label for="name_field">Full Name</label>
                  <input
                    name="name"
                    type="text"
                    class="form-control"
                    th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
                    id="name_field"
                    th:value="${user.name}"
                  />
                  <div
                    class="invalid-feedback"
                    th:each="n : ${#fields.errors('name')}"
                    th:text="${n}"
                  ></div>
                  <label class="pt-2" for="user_email">Email address</label>
                  <input
                    name="email"
                    type="email"
                    class="form-control"
                    th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                    id="user_email"
                    placeholder="name@example.com"
                    th:value="${user.email}"
                  />
                  <div
                    class="invalid-feedback"
                    th:each="e : ${#fields.errors('email')}"
                    th:text="${e}"
                  ></div>
                  <div class="form-group">
                    <label class="pt-2" for="user_password">Password</label>
                    <input
                      name="password"
                      type="password"
                      class="form-control"
                      th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                      id="user_password"
                      th:value="${user.password}"
                    />
                  </div>
                  <div
                    class="invalid-feedback"
                    th:each="p : ${#fields.errors('password')}"
                    th:text="${p}"
                  ></div>
                  <div class="form-group">
                    <label for="user_description"
                      >Something about yourself</label
                    >
                    <textarea
                      name="about"
                      class="form-control"
                      id="user_description"
                      rows="3"
                      th:text="${user.about}"
                    ></textarea>
                  </div>
                  <div class="form-group form-check">
                    <input
                      name="termscheckbox"
                      type="checkbox"
                      class="form-check-input"
                      id="term_conditions"
                    />
                    <label class="form-check-label" for="term_conditions"
                      >I agree to the terms and conditions</label
                    >
                  </div>
                </div>

                <button type="submit">
                  Submit
                  <div class="arrow-wrapper">
                    <div class="arrow"></div>
                  </div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
